body {
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;

  .discription {
    display: flex;
    justify-content: left;
    .line-break::after {
      content: "\A";
      white-space: pre;
    }
  }
}
